@font-face {
    font-family: 'DawnOfANewDay';
    src: url('../font/DawningofaNewDay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Italiana';
    src: url('../font/Italiana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Thasadith';
    src: url('../font/Thasadith-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
}
body::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none;
}

.hero-section {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 712px;
    width: 100%;
    padding-bottom: 294px;
    align-items: center;
    color: #fff;
    font-weight: 400;
  }
  
  .hero-background {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .nav-container {
    position: relative;
    /* align-self: stretch; */
    display: flex;
    font: 500 20px Raleway, sans-serif;
    width: 100%;
    /* padding-left: 5vw; */
  }
  
  .nav-content {
    align-self: center;
    display: flex;
    width: 100%;
    gap: 20px 84px;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 0.1px solid #fff;

  }

  .nav-content-inside1 {
    align-self: center;
    display: flex;
    /* width: 100%; */
    gap: 20px 50px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding-left: 2vw;
  }
  .nav-content-inside2 {
    align-self: center;
    display: flex;
    /* width: 100%; */
    gap: 20px 50px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding-right: 2vw;
  }

  .logo-image {
    aspect-ratio: 1.21;
    object-fit: contain;
    object-position: center;
    width: 40px;
    max-width: 100%;
  }
  
  .brand-name {
    /* flex-grow: 1; */
    margin: auto 0;
    font: 400 35px 'DawnOfANewDay', -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .search-bar {
    flex-grow: 1;
    /* width: 40vw; */
    margin: 0 20px;
    border-radius: 50px;
    margin: 20px;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    transition: background-color 0.3s, border 0.3s;
    font-size: 17px;
    opacity: 1;
  }
  .search-bar::placeholder {
    color: white;
    font-family: Raleway;
    opacity: 1;
}
  
  .nav-link {
    margin: auto 0;
    color: white;
    text-decoration: none;
  }
  
  .hero-title-block {
    position: relative;
    text-align: center;
    /* margin-top: 106px; */
    /* font: 150px Italiana, sans-serif; */
  }

  .hero-title {
    position: relative;
    text-align: center;
    margin-top: 106px;
    margin-bottom: 0px;
    font: 150px Italiana, sans-serif;
  }
  
  .hero-quote {
    position: relative;
    text-align: center;
    margin: 33px 0 -59px;
    font: 25px Thasadith, sans-serif;
  }
  
  .section-title {
    color: #000;
    align-self: start;
    margin: 9px 0 0 94px;
    font: 275 50px 'Yaldevi Colombo ExtraLight', -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .book-container {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
}

.book-grid {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    /* max-width: 70%;  */
}

.book-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    box-sizing: border-box;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-cover {
    max-width: 100%;
    height: auto;
}
  
  .book-cover {
    aspect-ratio: 0.66;
    object-fit: contain;
    object-position: center;
    width: 100%;
    align-self: stretch;
  }
  
  .book-title {
    color: #000;
    text-align: center;
    margin-top: 8px;
    width: 256px;
    font: 400 33px 'Josefin Slab', sans-serif;
  }
  
  .book-price {
    color: #a6a6a9;
    margin-top: 4px;
    font: 500 30px Raleway, sans-serif;
  }
  
  .see-more-container {
    align-self: start;
    display: flex;
    gap: 7px;
    color: #000;
    margin: 19px 0 0 94px;
    font: 500 35px 'Cormorant Garamond', -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .see-more-text {
    flex-grow: 1;
  }
  
  .see-more-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 42px;
    align-self: start;
    margin-top: 4px;
  }
  
  .footer {
    background-color: #bba59d;
    margin-top: 1561px;
    width: 100%;
    color: #fff;
    padding: 59px 70px;
    font: 400 55px 'Dawning of a New Day', -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .hero-section {
      max-width: 100%;
      padding-bottom: 100px;
    }
  
    .nav-container {
      padding-right: 20px;
    }
  
    .nav-content {
      max-width: 100%;
    }
  
    .hero-title {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  
    .hero-quote {
      max-width: 100%;
      margin-bottom: 10px;
    }
  
    .section-title {
      margin-left: 10px;
      font-size: 40px;
    }
  
    .book-container {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .book-grid {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .book-column {
      width: 100%;
    }
  
    .book-item {
      margin-top: 40px;
    }
  
    .see-more-container {
      margin-left: 10px;
    }
  
    .footer {
      font-size: 40px;
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  




  