<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book detail</title>
    <link rel="stylesheet" href="../../static/css/book_list.css">
    <link rel="stylesheet" href="../../static/css/book_detail.css">
    <link rel="stylesheet" href="../../static/css/nav_bar.css">
</head>
<body>
    {% include 'nav_bar_bookdetail.html' %}
    <section class="book-details">
        <div class="book-cover">
            <img src="{{ book.image_url_l }}" alt="Cover of {{ book.title }}" class="book-cover-image" />
        </div>
        <div class="book-info">
            <p class="author">By {{ book.author }}</p>
            <h1 class="book-title">{{ book.title }}</h1>
            <div class="book-details-grid">
                <div class="book-details-left">
                    <p class="book-detail"><strong>Publisher:</strong> {{ book.publisher }}</p>
                    <p class="book-detail"><strong>Pages:</strong> {{ book.pages }}</p>
                    <p class="book-detail"><strong>Number of books: </strong> {{ book.number_of_books }}</p>
                    <p class="book-price">${{ book.price }}</p>
                </div>
                <div class="book-details-right">
                    <p class="book-detail"><strong>Year of Publication:</strong> {{ book.year_of_publication }}</p>
                    <p class="book-detail"><strong>Rating:</strong> {{ book.rating }}</p>
                </div>
            </div>
            
            <button class="add-to-cart-btn" onclick="window.location.href='{% url 'add_to_cart' book.isbn %}'">Add to cart</button>
            <p class="book-description"><strong>Description:</strong> {{ book.description }}</p>
        </div>
    </section>

    <section class="books-section">
        <h2 style="font-size: 35px;">You may also like</h2>
        <div class="books-grid">
            <div class="book-item">
                <img src="../../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                <div class='book-info'>
                    <div class='book-info-name'>
                        <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                    </div>
                    <div class='book-info-price'>
                        <p>$7.38</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} <footer class="footer">Lala Books</footer> {% endcomment %}
</body>