<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book detail</title>
    <link rel="stylesheet" href="../../static/css/book_list.css">
    <link rel="stylesheet" href="../../static/css/book_detail.css">
    <link rel="stylesheet" href="../../static/css/nav_bar.css">
</head>
<body>
    {% include 'nav_bar_bookdetail.html' %}
    <section class="book-details">
        <div class="book-cover">
            <img src="{{ book.image_url_l }}" alt="Cover of {{ book.title }}" class="book-cover-image" />
        </div>
        <div class="book-info">
            <p class="author">By {{ book.author }}</p>
            <h1 class="book-title">{{ book.title }}</h1>
            <div class="book-details-grid">
                <div class="book-details-left">
                    <p class="book-detail"><strong>Publisher:</strong> {{ book.publisher }}</p>
                    <p class="book-detail"><strong>Pages:</strong> {{ book.pages }}</p>
                    <p class="book-detail"><strong>Number of books: </strong> {{ book.number_of_books }}</p>
                    <p class="book-price">${{ book.price }}</p>
                </div>
                <div class="book-details-right">
                    <p class="book-detail"><strong>Year of Publication:</strong> {{ book.year_of_publication }}</p>
                    <p class="book-detail"><strong>Rating:</strong> {{ book.rating }}</p>
                </div>
            </div>
            
            <!-- Kiểm tra số lượng sách -->
            {% if book.number_of_books > 0 %}
                <button class="add-to-cart-btn" onclick="window.location.href='{% url 'add_to_cart' book.isbn %}'">Add to cart</button>
            {% else %}
                <p class="out-of-stock">Out of Stock</p>
            {% endif %}
            <p class="book-description"><strong>Description:</strong> {{ book.description }}</p>
        </div>
    </section>

    <section class="books-section">
        <h2 style="font-size: 35px;">You may also like</h2>
        <div class="books-grid">
            {% for similar_book in similar_books %}
                <div class="book-item">
                    <a href="{% url 'book_detail' similar_book.isbn %}">
                        <img src="{{ similar_book.image_url_l }}" alt="Cover of {{ similar_book.title }}">
                    
                        <div class='book-info'>
                            <div class='book-info-name'>
                                <p>{{ similar_book.title }}</p>
                            </div>
                            <div class='book-info-price'>
                                <p>${{ similar_book.price }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <p>No similar books found.</p>
            {% endfor %}
        </div>
    </section>
    {% comment %} <footer class="footer">Lala Books</footer> {% endcomment %}
</body>
</html>
