<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book detail</title>
    <link rel="stylesheet" href="../static/css/book_detail.css">
</head>
<body>
    <nav class="nav-container">
        <div class="nav-content">
          <div class="nav-content-inside1">
            <img src="..\static\img\burger.png" alt="Lala Books Logo" class="logo-image" />
            <h1 class="brand-name">Lala Books</h1>
            
          </div>
          <input class="search-bar" placeholder="Search"/>
          <div class="nav-content-inside2">
            <button class="action-icon" aria-label="User profile">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5e5b7b23554fcdb04a6f7e578b3e4f337b4041f721661815e94ae01dd1a87529?apiKey=99a2af43fc7a4b6e84b9146faa2de95e&&apiKey=99a2af43fc7a4b6e84b9146faa2de95e" alt="" class="action-icon">
            </button>
            <button class="action-icon" aria-label="Shopping cart">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/45bb0150af88032b8cf7529ef9824269af99e3dfbcba40674465f7d50dd04034?apiKey=99a2af43fc7a4b6e84b9146faa2de95e&&apiKey=99a2af43fc7a4b6e84b9146faa2de95e" alt="" class="action-icon">
            </button>
          </div>
          
        </div>
    </nav>
    <section class="book-details">
        <div class="book-cover">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e0ce9802d5488c8b9893f134ff08e80ef7e470737441007d2dee5aff59c4e6fc?placeholderIfAbsent=true&apiKey=99a2af43fc7a4b6e84b9146faa2de95e" alt="Cover of Harry Potter and the Order of the Phoenix" class="book-cover-image" />
        </div>
        <div class="book-info">
            <p class="author">By J. K. Rowling</p>
            <h1 class="book-title">Harry Potter and the Order of the Phoenix</h1>
            <div class="book-details-grid">
                <div class="book-details-left">
                <p class="book-detail"><strong>Publisher:</strong> Scholastic Inc.</p>
                <p class="book-detail"><strong>Pages:</strong> 870</p>
                <p class="book-price">$7.38</p>
                </div>
                <div class="book-details-right">
                <p class="book-detail"><strong>Language:</strong> English</p>
                <p class="book-detail"><strong>Binding:</strong> Paperback</p>
                </div>
        </div>
        <button class="add-to-cart-btn">Add to cart</button>
        <p class="book-description"><strong>Description:</strong> There is a door at the end of a silent corridor. And it's haunting Harry Pottter's dreams. Why else would he be waking in the middle of the night, screaming in terror?</p>
        </div>
    </section>
    {% comment %} <footer class="footer">Lala Books</footer> {% endcomment %}
</body>