<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="../static/css/book_list.css">
</head>
<body>
    <header>
        <nav class="nav-container">
            <div class="nav-content">
              <div class="nav-content-inside1">
                <img src="..\static\img\burger.png" alt="Lala Books Logo" class="logo-image" />
                <h1 class="brand-name">Lala Books</h1>
                
              </div>
              <input class="search-bar" placeholder="Search"/>
              <div class="nav-content-inside2">
                <button class="action-icon" aria-label="User profile">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5e5b7b23554fcdb04a6f7e578b3e4f337b4041f721661815e94ae01dd1a87529?apiKey=99a2af43fc7a4b6e84b9146faa2de95e&&apiKey=99a2af43fc7a4b6e84b9146faa2de95e" alt="" class="action-icon">
                </button>
                <button class="action-icon" aria-label="Shopping cart">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/45bb0150af88032b8cf7529ef9824269af99e3dfbcba40674465f7d50dd04034?apiKey=99a2af43fc7a4b6e84b9146faa2de95e&&apiKey=99a2af43fc7a4b6e84b9146faa2de95e" alt="" class="action-icon">
                </button>
              </div>
              
            </div>
        </nav>
    </header>
    
    <main>
        <section class="books-section">
            <h2>Fiction</h2>
            <div class="books-grid">
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <!-- Repeat book items as needed -->
            </div>
        </section>
    </main>
</body>
</html>
