<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="../static/css/book_list.css">
    <link rel="stylesheet" href="../static/css/nav_bar.css">
</head>
<body>
    <header>
        <nav class="nav-container">
            <div class="nav-content">
                <div class="nav-content-inside1">
                    <div class="burger-menu" onclick="toggleDropdown('burger-dropdown')">
                        <img src="../static/img/burgerblack.png" alt="Menu" class="logo-image" />
                        <div id="burger-dropdown" class="dropdown-content">
                            <a href="#" class="dropdown-item">Book type</a>
                            <a href="#" class="dropdown-item">Lmao</a>
                        </div>
                    </div>
                    <h1 class="brand-name">Lala Books</h1>
                </div>
                <input class="search-bar" placeholder="Search" />
                <div class="nav-content-inside2">
                    {% if user.is_authenticated %}
                    <a class="nav-link">Shopping Cart</a>
                    <div class="profile-menu">
                        <a class="nav-link profile-link">Profile</a>
                        <div id="profile-dropdown" class="dropdown-content">
                            <a href="#" class="dropdown-item">View profile</a>
                            <a href="#" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="nav-link">Log in</a>
                        <a href="{% url 'register' %}" class="nav-link">Sign up</a>
                        
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        <section class="books-section">
            <h2>Fiction</h2>
            <div class="books-grid">
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <div class="book-item">
                    <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
                    <div class='book-info'>
                        <div class='book-info-name'>
                            <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                        </div>
                        <div class='book-info-price'>
                            <p>$7.38</p>
                        </div>
                    </div>
                </div>
                <!-- Repeat book items as needed -->
            </div>
        </section>
    </main>
</body>
</html>
