<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/css/nav_bar.css">
    <link rel="stylesheet" href="../static/css/cart.css">
</head>

<body>
    {% include 'nav_bar.html' %}

    <section class="profile-section">
        <h1 class="profile-title">My Cart</h1>
    </section>

    {% if cart_books %}
        {% for book in cart_books %}
        <section class="book-item">
            <div class="book-info-column">
                <div class="book-info">
                    <img src="{{ book.image_url_l }}" class="book-cover" alt="Cover of {{ book.title }}" />
                    <h2 class="book-title">{{ book.title }}</h2>
                </div>
            </div>
            <div class="price-controls-column">
                <div class="price-controls">
                        <div class="item-picker">
                          <button class="item-button" onclick="changeQuantity(this, -1)">-</button>
                        <input type="text" class="itemQuantity" value="1" readonly>
                          <button class="item-button" onclick="changeQuantity(this, 1)">+</button>
                        </div>
                    <span class="price" style="margin-top: 82px;">${{ book.price }}</span>
                    <button class="remove-btn" aria-label="Remove item" style="margin-top: 70px;">x</button>
                </div>
            </div>
        </section>
        {% endfor %}

        <section class="subtotal-container">
            <p class="subtotal-label">Subtotal:</p>
            <p class="subtotal-amount">${{ total_amount }}</p>
        </section>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

    <section class="shop-container">
      <a href="{% url 'landing_page' %}" class="back-link">&lt; Back to Shop</a>
      <button class="order-button" onclick="window.location.href='{% url 'credit' %}';">ORDER NOW</button>
    </section>
    <script src="..\static\js\checkout.js"></script>
</body>
</html>
