<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lala Books</title>
    <link rel="stylesheet" href="../static/css/nav_bar.css">
    <link rel="stylesheet" href="../static/css/book_list.css">
    <link rel="stylesheet" href="../static/css/landing_page.css">
</head>
<body>
    <div class="hero-section">
      <img src="../static/img/banner.png" alt="" class="hero-background" />
      {% include 'nav_bar_white.html' %}
      
      <div class="hero-title-block">
        <h2 class="hero-title">Lala Books</h2>
      </div>
      <p class="hero-quote">
        "Books are a uniquely portable magic." - Stephen King <br />
      </p>
    </div>
    
    <section class="books-section">
        <h2>Books recommended for you</h2>
        <div class="books-grid">
            {% for book in books %}
            <div class="book-item">
                <!-- Liên kết đến trang chi tiết sách -->
                <a href="{% url 'book_detail' book.isbn %}">
                    <!-- Hiển thị hình ảnh -->
                    <img src="{{ book.image_url_l }}" alt="{{ book.title }}" style="width: 200px; height: auto;">
                    <div class='book-info'>
                        <!-- Hiển thị tiêu đề -->
                        <div class='book-info-name'>
                            <p>{{ book.title }}</p>
                        </div>
                        <!-- Hiển thị giá -->
                        <div class='book-info-price'>
                            <p>${{ book.price }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <h2>Featured Books</h2>
        <div class="books-grid">
            {% for book in books %}
            <div class="book-item">
                <!-- Liên kết đến trang chi tiết sách -->
                <a href="{% url 'book_detail' book.isbn %}">
                    <!-- Hiển thị hình ảnh -->
                    <img src="{{ book.image_url_l }}" alt="{{ book.title }}" style="width: 200px; height: auto;">
                    <div class='book-info'>
                        <!-- Hiển thị tiêu đề -->
                        <div class='book-info-name'>
                            <p>{{ book.title }}</p>
                        </div>
                        <!-- Hiển thị giá -->
                        <div class='book-info-price'>
                            <p>${{ book.price }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
  </section>
    
</body>
</html>
