<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lala Books</title>
    <link rel="stylesheet" href="../static/css/nav_bar.css">
    <link rel="stylesheet" href="../static/css/book_list.css">
    <link rel="stylesheet" href="../static/css/landing_page.css">
</head>
<body>
    <div class="hero-section">
      <img src="..\static\img\banner.png" alt="" class="hero-background" />
      {% include 'nav_bar_white.html' %}
      
      <div class="hero-title-block">
        <h2 class="hero-title">Lala Books</h2>
      </div>
      <p class="hero-quote">
        Insert some very long and emotional quote here, <br />
        Insert some very long and emotional quote here, <br />
        Insert some very long and emotional quote here, <br />
        Insert some very long and emotional quote here, <br />
      </p>
    </div>
    
    <section class="books-section">
      <h2>Fiction</h2>
      <div class="books-grid">
          <div class="book-item">
              <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
              <div class='book-info'>
                  <div class='book-info-name'>
                      <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                  </div>
                  <div class='book-info-price'>
                      <p>$7.38</p>
                  </div>
              </div>
          </div>
          <div class="book-item">
              <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
              <div class='book-info'>
                  <div class='book-info-name'>
                      <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                  </div>
                  <div class='book-info-price'>
                      <p>$7.38</p>
                  </div>
              </div>
          </div>
          <div class="book-item">
              <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
              <div class='book-info'>
                  <div class='book-info-name'>
                      <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                  </div>
                  <div class='book-info-price'>
                      <p>$7.38</p>
                  </div>
              </div>
          </div>
          <div class="book-item">
              <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
              <div class='book-info'>
                  <div class='book-info-name'>
                      <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                  </div>
                  <div class='book-info-price'>
                      <p>$7.38</p>
                  </div>
              </div>
          </div>
          <div class="book-item">
              <img src="../static/img/HP.png" alt="Harry Potter and the Order of the Phoenix">
              <div class='book-info'>
                  <div class='book-info-name'>
                      <p>Harry Potter and the Order of the Phoenix Harry Potter and the Order of the Phoenix</p>
                  </div>
                  <div class='book-info-price'>
                      <p>$7.38</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
    
    {% comment %} <footer class="footer">Lala Books</footer> {% endcomment %}
</body>