<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="wrapper">
        <div class="div">
            <div class="div-2">
                <div class="column">
                    <img loading="lazy" srcset="../static/img/logo.jpg" class="img" />
                </div>
                <div class="column-2">
                    <div class="div-4">
                        <div class="div-5">Lala Books</div>
                        <div class="div-6">Log into your account</div>
                        
                        <!-- Start of the form -->
                        <form method="post" action="{% url 'login' %}" class='input-form'>
                            {% csrf_token %}
                            <div class="div-7">Username</div>
                            <input class="div-8" type="text" name="username" placeholder="Enter username" required />

                            <div class="div-7">Password</div>
                            <input class="div-8" type="password" name="password" placeholder="Enter password" required />

                            <!-- Submit button -->
                            <input type="submit" value="Log in" class="submit-button div-13">
                        </form>
                        <!-- End of the form -->

                        <div class="div-14">
                            <div class="div-15">Don't have an account?</div>
                            <div class="div-16"><a href="{% url 'register' %}">Sign up</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
