<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up Page</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="wrapper">
        <div class="div">
            <div class="div-2">
            <div class="column">
                <img
                    loading="lazy"
                    srcset="../static/img/logo.jpg"
                    class="img"
                />
            </div>
            <div class="column-2">
                <div class="div-4">
                <div class="div-5">Lala Books</div>
                <div class="div-6">Log into your account</div>
                <div class="div-7">Name</div>
                <input class = 'div-8' type="text" id="searchBox" placeholder="Enter Name" />
                <div class="div-7">Password</div>
                <input class = 'div-8' type="text" id="searchBox" placeholder="Enter password" />
                <div class="div-13">Log In</div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>