<nav class="nav-container">
    <div class="nav-content">
        <div class="nav-content-inside1">
            <div class="burger-menu">
                <img src="../static/img/burger.png" alt="Menu" class="logo-image" />
                <div class="dropdown-content burger-dropdown">
                    <a href="{% url 'book_list' genre='Fiction' %}" class="dropdown-item">Fiction</a>
                    <a href="{% url 'book_list' genre='Philosophy' %}" class="dropdown-item">Philosophy</a>
                    <a href="{% url 'book_list' genre='Romance' %}" class="dropdown-item">Romance</a>
                    <a href="{% url 'book_list' genre='Horror' %}" class="dropdown-item">Horror</a>
                    <a href="{% url 'book_list' genre='Mystery' %}" class="dropdown-item">Mystery</a>
                </div>
            </div>
            <h1 class="brand-name">Lala Books</h1>
        </div>
        <form method="GET" action="{% url 'search_books' %}" class='input-form'>
            <input type="text" name="q" class="search-bar" placeholder="Search by Title, Id, or Genre" />
        </form>
        <div class="nav-content-inside2">
            {% if user.is_authenticated %}

                <a href="{% url 'shopping_cart' %}" class="nav-link">Shopping Cart</a>
                <div class="profile-menu">
                    <a class="nav-link profile-link">Profile</a>
                    <div class="dropdown-content profile-dropdown">
                        <a href="{% url 'profile' %}" class="dropdown-item">View profile</a>
                        <a href="{% url 'manage_product' %}" class="dropdown-item">Manage product</a>
                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="nav-link">Log in</a>
                <a href="{% url 'register' %}" class="nav-link">Sign up</a>
            {% endif %}
        </div>
    </div>
</nav>